body {
  padding: 0;
  margin: 0;
  font-family: 'Catamaran', sans-serif;
}

a {
  color: #6694e2;
}

section, footer {
  width: 60vw;
  margin: 50px auto;
}

footer {
  margin: 0 auto;
  text-align: right;
}

section.full-page {
  margin: 0;
  height: 100vh;
  width: 100vw;
background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

section.dark, footer.dark {
  background: #1E2835;
  color: white;
  width: 100vw;
  padding: 2vh 0;
}

footer.dark {
  padding: 20px 0;
}

section.colorful {
  background: #B993D6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8CA6DB, #B993D6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  width: 100vw;
  padding: 2vh 0;
  margin: 0 auto;
}

section.colorful a {
  color: #f3ebd9;
}

div.dark-inner {
  width: 60vw;
  margin: 50px auto;
}

footer > div.dark-inner {
  margin: 0px auto;
}

header {
  height: 10vh;
  font-size: 1.3em;
}
header > div#links {
  position: absolute;
  right: 5vw;
}
header > div#links > a {
  line-height: 16vh;
  color: white;
  text-decoration: none;
  padding: 2vw;
}
header > div#logo-container {
  display: inline-flex;
  margin-left: 10vw;
  align-self: flex-start;

}
header > div#logo-container > a {
  color: white;
  line-height: 16vh;
  text-decoration: none;
}

.outer-div {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 80vh;
     width: 100vw;
}
.inner-div {
     border-radius: 3px;

}

h1.landing-title {
  font-size: 10em;
  color: white;
  font-weight: 300;
  padding: 0;
  margin: 0;
  text-align: center;
}

span#demo-foreword {
  color: white;
  font-size: 1.6em;
  font-weight: 300;
  padding: 0 0 5vh;
  text-align: center;
  display: block;
  min-width: 100vw;
}

span.typer {
  display: inline-block;
}

div#scroll-down-cont {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 50px;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 1em;
  width: 60vw;
}

td.key {
  text-align: right;
  border-right: 1px solid #282828;
  padding: 0 3% 0 0;
  width: 25%;
  font-weight: bold;
}

th {
  font-style: normal !important;
}

td.one, th.one, td.two, th.two {
  text-align: center;
  padding: 10px;
}

td.two {
  font-weight: bold;
  text-decoration: underline;
}

td {

}

div.how-to {
  display: inline-flex;
  flex-basis: 0;
}

div.how-to div {
  width: 18vw;
  padding: 0 1vw;
}

div.how-to h3 {
  text-align: center;
}

div.how-to p {
}

div.how-to div:first-child {
  padding: 0 1vw 0 0;
}

div.how-to div:last-child {
  padding: 0 0 0 1vw;
}
